#livechat {
	position: fixed;
	bottom: 0px;
	right: 10px;
	background-color: white;
	border-radius: 4px 4px 0 0;
	height: 340px;
	width: 300px;
	z-index: 1000;
	border: 2px solid #C8C8C8;
}
#livechat.closed {
	bottom: -302px;
}
#livechat .title::after {
	font-size: 22px;
	line-height: 22px;
	color: #757575;
	content: '\e622';
	font-family: 'luma-icons';
	display: inline-block;
	float: right;
}
#livechat.closed .title::after {
	content: '\e621';
}
#livechat .title {
	padding: 10px;
	cursor: pointer;
}
#livechat .discussion {
	padding: 10px;
	max-height: 210px;
	overflow-y: scroll;
	background-color: #f8f8f8;
}
#livechat .message.customer {
	padding: 4px 10px;
}
#livechat #livedisc .message.customer {
	background-color: #77a0c7;
	margin: 4px 20px 4px 0;
	border-radius: 0 14px 14px;
	color: white;
	font-size: 14px;
	font-weight: 600;
	overflow-wrap: break-word;
}
#livechat #livedisc .message.admin{
	border: 1px solid #ffb3ff;
	background-color: #ffccff;
	margin: 4px 0px 4px 20;
}

#livechat #livechatform{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	border-top: 1px solid #eee;
}
#livechat #message {
	border: unset;
	background: unset;
	font-style: italic;
}